## Những vấn đề xử lý trong file csv

In [1]:
#### xóa 2 cột KHTN và KHXH và Ma Ngoai Ngu, ten, ngay sinh... không cần thiết
#### đổi tên các cột lại
#### Replace white-space null value with np.nan -> nếu có
#### Add year column add year theo năm vào dữ liệu
#### astype float 
#### check trùng lặp dữ liệu
#### check dữ liệu lỗi
#### Match code provinces with name
#### clean số báo danh 7 chữ số = cách thêm số 0 vào

### 1.Import libraries

In [2]:
# import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns
# import os

### 2.Read file csv

In [3]:
df_2019 = pd.read_csv(r"D:\VKU\HK6\DACN + PTDL + ML\Data_diemthi\diemthi2019.csv")

##### 2.1.Read head index

In [4]:
df_2019.head(5)

,Unnamed: 0,Dia,GDCD,Hoa,Li,Ma_mon_ngoai_ngu,Ngoai_ngu,Sinh,Su,Toan,Van,sbd
0,0,7.75,8.75,NaN,NaN,N1,7.6,NaN,8.25,8.2,8.00,24008611
1,1,NaN,NaN,4.5,8.25,N1,8.0,6.0,NaN,8.6,6.17,51000032
2,2,4.25,5.75,NaN,NaN,NaN,NaN,NaN,4.00,5.2,4.75,51000005
3,3,4.75,5.00,NaN,NaN,NaN,NaN,NaN,2.25,4.4,4.50,51000021
4,4,8.25,7.50,NaN,NaN,N1,4.4,NaN,7.75,5.8,6.00,51000013

##### 2.2.Read end index

In [5]:
df_2019.tail(5)

,Unnamed: 0,Dia,GDCD,Hoa,Li,Ma_mon_ngoai_ngu,Ngoai_ngu,Sinh,Su,Toan,Van,sbd
811846,811846,5.75,8.5,NaN,NaN,N1,3.4,NaN,4.5,4.4,4.75,26019104
811847,811847,NaN,NaN,4.5,3.75,N1,4.4,4.00,NaN,5.2,6.25,26019102
811848,811848,5.50,8.0,NaN,NaN,N1,2.8,NaN,5.5,2.8,5.00,26019099
811849,811849,6.75,8.5,NaN,NaN,N1,4.0,NaN,3.5,6.2,7.25,26019101
811850,811850,NaN,NaN,4.5,5.25,N1,2.2,3.75,NaN,6.4,5.75,26019097

##### 2.3Show index, col in dataframe

In [6]:
df_2019.shape

(811851, 12)

##### 2.4.View details info data

In [7]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 811851 entries, 0 to 811850
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        811851 non-null  int64
 1   Dia               535897 non-null  float64
 2   GDCD              470905 non-null  float64
 3   Hoa               295544 non-null  float64
 4   Li                292166 non-null  float64
 5   Ma_mon_ngoai_ngu  728513 non-null  object
 6   Ngoai_ngu         728513 non-null  float64
 7   Sinh              291199 non-null  float64
 8   Su                542729 non-null  float64
 9   Toan              807762 non-null  float64
 10  Van               799208 non-null  float64
 11  sbd               811851 non-null  int64
dtypes: float64(9), int64(2), object(1)
memory usage: 74.3+ MB

In [8]:
df_2019.describe()

,Unnamed: 0,Dia,GDCD,Hoa,Li,Ngoai_ngu,Sinh,Su,Toan,Van,sbd
count,811851.000000,535897.000000,470905.000000,295544.000000,292166.000000,728513.000000,291199.000000,542729.000000,807762.000000,799208.000000,8.118510e+05
mean,405925.000000,5.988069,7.353802,5.342898,5.563926,4.240692,4.665719,4.293683,5.573748,5.442390,3.040246e+07
std,234361.341032,1.232252,1.270562,1.594621,1.619208,1.750507,1.247124,1.439408,1.758361,1.353822,1.789921e+07
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000029e+06
25%,202962.500000,5.250000,6.500000,4.250000,4.500000,3.000000,3.750000,3.250000,4.200000,4.670000,1.700340e+07
50%,405925.000000,6.000000,7.500000,5.500000,5.750000,3.800000,4.500000,4.000000,5.600000,5.500000,2.902832e+07
75%,608887.500000,6.750000,8.250000,6.500000,6.750000,5.200000,5.250000,5.000000,7.000000,6.500000,4.600444e+07
max,811850.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.500000,6.400574e+07

### 3.Clean Data

##### 3.1.Delete cols

In [9]:
# Drop 2 columns KHTN and KHXH
df_2019.drop(columns=['Unnamed: 0', 'Ma_mon_ngoai_ngu'], inplace=True)
df_2019.head(3)

    Dia  GDCD  Hoa    Li  Ngoai_ngu  Sinh    Su  Toan   Van       sbd
0  7.75  8.75  NaN   NaN        7.6   NaN  8.25   8.2  8.00  24008611
1   NaN   NaN  4.5  8.25        8.0   6.0   NaN   8.6  6.17  51000032
2  4.25  5.75  NaN   NaN        NaN   NaN  4.00   5.2  4.75  51000005

##### 3.2.Rename cols

In [10]:
df_2019.rename(columns={
    'sbd': 'Số Báo Danh',
    'Toan': 'Toán',
    'Van': 'Ngữ Văn',
    'Ngoai_ngu': 'Ngoại Ngữ',
    'Li': 'Vật Lý',
    'Hoa': 'Hoá Học',
    'Sinh': 'Sinh Học',
    'Su': 'Lịch Sử',
    'Dia': 'Địa Lý'    
}, inplace=True)

In [11]:
df_2019.head(3)

,Địa Lý,GDCD,Hoá Học,Vật Lý,Ngoại Ngữ,Sinh Học,Lịch Sử,Toán,Ngữ Văn,Số Báo Danh
0,7.75,8.75,NaN,NaN,7.6,NaN,8.25,8.2,8.00,24008611
1,NaN,NaN,4.5,8.25,8.0,6.0,NaN,8.6,6.17,51000032
2,4.25,5.75,NaN,NaN,NaN,NaN,4.00,5.2,4.75,51000005

##### 3.3.Clean sbd columns : độ dài sbd phải là 8 chữ số

In [12]:
# Clean sbd column
def convert(x):
    x = str(x)
    if len(x) == 7:
        return '0' + x
    return x

In [13]:
df_2019['Số Báo Danh'] = df_2019['Số Báo Danh'].apply(lambda x: convert(x))

##### 3.4.Kiểm tra dữ liệu có trùng lặp hay không

In [14]:
duplicated_rows = df_2019[df_2019.duplicated()]
print(duplicated_rows)

Empty DataFrame
Columns: [Địa Lý, GDCD, Hoá Học, Vật Lý, Ngoại Ngữ, Sinh Học, Lịch Sử, Toán, Ngữ Văn, Số Báo Danh]
Index: []

##### 3.5.Convert to float

In [15]:
# Turn score from object type to float type
for col in ['Toán', 'Ngữ Văn', 'Vật Lý', 'Hoá Học', 'Sinh Học', 'Lịch Sử', 'Địa Lý', 'GDCD', 'Ngoại Ngữ']:
    df_2019[col] = df_2019[col].astype(float)

In [16]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 811851 entries, 0 to 811850
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Địa Lý       535897 non-null  float64
 1   GDCD         470905 non-null  float64
 2   Hoá Học      295544 non-null  float64
 3   Vật Lý       292166 non-null  float64
 4   Ngoại Ngữ    728513 non-null  float64
 5   Sinh Học     291199 non-null  float64
 6   Lịch Sử      542729 non-null  float64
 7   Toán         807762 non-null  float64
 8   Ngữ Văn      799208 non-null  float64
 9   Số Báo Danh  811851 non-null  object
dtypes: float64(9), object(1)
memory usage: 61.9+ MB

##### 3.6.Add Year column

In [17]:
df_2019['Year'] = 2019
df_2019.sample()

,Địa Lý,GDCD,Hoá Học,Vật Lý,Ngoại Ngữ,Sinh Học,Lịch Sử,Toán,Ngữ Văn,Số Báo Danh,Year
366521,6.75,5.75,NaN,NaN,2.8,NaN,3.0,1.8,2.75,19007409,2019

##### 3.7.Import địa phận tỉnh

In [18]:
import geopandas as gpd
map_df = gpd.read_file('./diaphantinh.geojson')
map_df.head()

,gid,code,ten_tinh,geometry
0,1,AD01,An Giang,"MULTIPOLYGON (((105.11524 10.95566, 105.11463 ..."
1,2,AD01,Bà Rịa -Vũng Tàu,"MULTIPOLYGON (((106.08110 8.57754, 106.08069 8..."
2,3,AD01,Bắc Giang,"MULTIPOLYGON (((106.16542 21.62022, 106.16925 ..."
3,4,AD01,Bắc Kạn,"MULTIPOLYGON (((105.74420 22.73519, 105.74624 ..."
4,5,AD01,Bạc Liêu,"MULTIPOLYGON (((105.32591 9.60004, 105.32755 9..."

###### 3.7.1.Update name province

In [19]:
# Fix some typo errors
map_df.loc[44, 'ten_tinh'] = 'Quảng Bình'
map_df.loc[31, 'ten_tinh'] = 'Kiên Giang'
map_df.loc[12, 'ten_tinh'] = 'Cần Thơ'

##### 3.8.Create a dictionary to map in VietNam

In [20]:

code_provinces = ['51', '52', '18', '11', '60', '19', '56', '37', '44', '43', '47', '61', '55',
                  '06', '04', '40', '63', '62', '48', '50', '38', '05', '24', '01', '30', '21',
                  '03', '64', '23', '22', '41', '54', '36', '07', '42', '10', '08', '49', '25',
                  '29', '27', '45', '15', '39', '31', '34', '35', '17', '32', '59', '14', '46',
                  '26', '12', '28', '33', '53', '02', '58', '09', '57', '16', '13']
                  
mapping = {code_provinces[i]: map_df['ten_tinh'].unique().tolist()[i] for i in range(len(code_provinces))}

##### 3.9.Create columns of code and province

In [21]:

df_2019['code'] = df_2019['Số Báo Danh'].str[:2]
df_2019['province'] = df_2019['code'].apply(lambda x: mapping[x])

In [22]:
df_2019.head(3)

,Địa Lý,GDCD,Hoá Học,Vật Lý,Ngoại Ngữ,Sinh Học,Lịch Sử,Toán,Ngữ Văn,Số Báo Danh,Year,code,province
0,7.75,8.75,NaN,NaN,7.6,NaN,8.25,8.2,8.00,24008611,2019,24,Hà Nam
1,NaN,NaN,4.5,8.25,8.0,6.0,NaN,8.6,6.17,51000032,2019,51,An Giang
2,4.25,5.75,NaN,NaN,NaN,NaN,4.00,5.2,4.75,51000005,2019,51,An Giang

### 4.Save new data

In [23]:
df_2019.to_csv('./clean_data_2019.csv', index=False)